[Rendered Version](http://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/taxcalc%20Training%20Doc%20-%20TCJA%20-%20Tedeschi%20weights.ipynb)

This resembles the [normal training notebook](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/Training%20Doc.ipynb), with the following changes:
* Models the House TCJA reform, not the sample reform.
* Uses Ernie Tedeschi's weights instead. This approach can be used to use any other weight file.
* Removes reference to sample reform dictionary.

In [1]:
from taxcalc import *

This example uses the packaged CPS file. If you were to use the PUF, you would create the records class using
`Records()` or `Records('path to puf')` if the PUF is not in your current working directory.

In [2]:
# Load Ernie Tedeschi's weights file.
tedeschi_weights = pd.read_csv('cps_weights_2026.csv')

In [3]:
# Initiate baseline calculator
recs = Records.cps_constructor()
calc = Calculator(records=recs, policy=Policy())
# Replace weights attribute of calc.
calc.records.s006 = tedeschi_weights.s006
# Advance and calculate.
calc.advance_to_year(2018)
calc.calc_all()

You loaded data for 2014.
Tax-Calculator startup automatically extrapolated your data to 2014.

In [4]:
# Initiate calculator to apply reforms to
recs_x = Records.cps_constructor()
calc_x = Calculator(records=recs_x, policy=Policy())
# Replace weights attribute of calc_x.
calc_x.records.s006 = tedeschi_weights.s006

You loaded data for 2014.
Tax-Calculator startup automatically extrapolated your data to 2014.

You can specify your reforms in a JSON file and, using the `read_json_param_objects` method, create a dictionary containing both policy reforms and behavioral assumptions

The policy reform and any behavioral assumptions need to be in separate JSON files.

Here is [more information](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/reforms/REFORMS.md) on creating reform files.

In [5]:
reforms = calc_x.read_json_param_objects('TCJA_Nov3.json', 'SampleBehavior.json')
reforms

{'behavior': {2018: {u'_BE_inc': [-0.25]}},
 'consumption': {2018: {u'_MPC_e19800': [0.2]}},
 'growdiff_baseline': {},
 'growdiff_response': {},
 'policy': {2018: {u'_ALD_DomesticProduction_hc': [1],
   u'_ALD_StudentLoan_hc': [1],
   u'_ALD_Tuition_hc': [1],
   u'_AMT_rt1': [0],
   u'_AMT_rt2': [0],
   u'_CG_brk1': [[38600, 77200, 38600, 51700, 77200]],
   u'_CG_brk2': [[425800, 479000, 239500, 452400, 479000]],
   u'_CR_SchR_hc': [1],
   u'_CTC_c': [1100],
   u'_CTC_ps': [[115000, 230000, 115000, 115000, 115000]],
   u'_DependentCredit_Child_c': [500],
   u'_DependentCredit_Nonchild_c': [300],
   u'_FilerCredit_c': [[300, 600, 300, 300, 300]],
   u'_ID_Casualty_hc': [1],
   u'_ID_Medical_hc': [1],
   u'_ID_Miscellaneous_hc': [1],
   u'_ID_RealEstate_c': [[10000, 10000, 10000, 10000, 10000]],
   u'_ID_StateLocalTax_hc': [1],
   u'_ID_prt': [0],
   u'_II_brk1': [[45000, 90000, 45000, 67500, 90000]],
   u'_II_brk2': [[200000, 260000, 130000, 200000, 260000]],
   u'_II_brk3': [[500000, 1000000, 500000, 500000, 1000000]],
   u'_II_brk4': [[1000000, 1200000, 1000000, 1000000, 1200000]],
   u'_II_brk5': [[1207000, 1614000, 1207000, 1310500, 1614000]],
   u'_II_brk6': [[2000000, 2000000, 2000000, 2000000, 2000000]],
   u'_II_em': [0],
   u'_II_rt1': [0.12],
   u'_II_rt2': [0.25],
   u'_II_rt3': [0.35],
   u'_II_rt4': [0.396],
   u'_II_rt5': [0.456],
   u'_II_rt6': [0.396],
   u'_II_rt7': [0.396],
   u'_LLC_Expense_c': [0],
   u'_PT_EligibleRate_active': [0.3],
   u'_PT_EligibleRate_passive': [1.0],
   u'_PT_brk1': [[45000, 90000, 45000, 67500, 90000]],
   u'_PT_brk2': [[200000, 260000, 130000, 200000, 260000]],
   u'_PT_brk3': [[500000, 1000000, 500000, 500000, 1000000]],
   u'_PT_brk4': [[1000000, 1200000, 1000000, 1000000, 1200000]],
   u'_PT_brk5': [[1207000, 1614000, 1207000, 1310500, 1614000]],
   u'_PT_brk6': [[2000000, 2000000, 2000000, 2000000, 2000000]],
   u'_PT_rt1': [0.12],
   u'_PT_rt2': [0.25],
   u'_PT_rt3': [0.25],
   u'_PT_rt4': [0.25],
   u'_PT_rt5': [0.31],
   u'_PT_rt6': [0.25],
   u'_PT_rt7': [0.25],
   u'_PT_top_stacking': [False],
   u'_PT_wages_active_income': [True],
   u'_STD': [[12000, 24000, 12000, 18000, 24000]],
   u'_STD_Aged': [[0, 0, 0, 0, 0]],
   u'_STD_Dep': [500]},
  2019: {u'_CTC_c': [1200], u'_DependentCredit_Child_c': [400]},
  2023: {u'_CTC_c': [1300],
   u'_DependentCredit_Child_c': [300],
   u'_DependentCredit_Nonchild_c': [0],
   u'_FilerCredit_c': [[0, 0, 0, 0, 0]]},
  2027: {u'_CTC_c': [1400], u'_DependentCredit_Child_c': [200]}}}

In [6]:
calc_x.policy.implement_reform(reforms['policy'])
calc_x.consumption.update_consumption(reforms['consumption'])
calc_x.advance_to_year(2018)

### Behavioral response

A dictionary is also used to implement behavioral reforms. The only difference is you must then pass the baseline and reform calculators into the response method of the behavioral class. This method calculates the change in tax liabilities and then, using the specified elasticities, returns a new calculator object that accounts for any behavioral change.

In [7]:
calc_x.behavior.update_behavior(reforms['behavior'])
calc_response = Behavior.response(calc, calc_x)

### Viewing the results

In [8]:
from taxcalc.utils import *

#### Analyzing Individual Variables

Individual variables are attributes of the records class and can therefore be accessed using a simple dot notation

In [9]:
baseline = (calc.records.combined * calc.records.s006).sum()  # combined is combined tax liability while s006 is weight
reformed = (calc_response.records.combined * calc_response.records.s006).sum()
diff = reformed - baseline
print ('Combined Liability - Baseline: {:0.2f}'.format(baseline))
print ('Combined Liability - Reform: {:>18.2f}'.format(reformed))
print ('-' * 47)
print ('Difference: {:35.2f}'.format(diff))

Combined Liability - Baseline: 2521070511449.64
Combined Liability - Reform:   2459274184595.68
-----------------------------------------------
Difference:                     -61796326853.96

#### Diagnostic Table

Diagnostic tables are the most straight forward methods of evaluation. They simply show aggregate values for a given calculator

In [10]:
create_diagnostic_table(calc)

                                   2018
Returns (#m)                      169.9
AGI ($b)                       10,503.8
Itemizers (#m)                     68.0
Itemized Deduction ($b)         1,500.9
Standard Deduction Filers (#m)     83.9
Standard Deduction ($b)           771.4
Personal Exemption ($b)         1,222.6
Taxable Income ($b)             7,421.9
Regular Tax ($b)                1,369.7
AMT Income ($b)                 9,664.5
AMT Liability ($b)                 18.0
AMT Filers (#m)                     4.2
Tax before Credits ($b)         1,387.7
Refundable Credits ($b)            76.6
Nonrefundable Credits ($b)         32.9
Reform Surtaxes ($b)                0.0
Other Taxes ($b)                    9.3
Ind Income Tax ($b)             1,287.5
Payroll Taxes ($b)              1,233.6
Combined Liability ($b)         2,521.1
With Income Tax <= 0 (#m)          72.0
With Combined Tax <= 0 (#m)        48.6

In [11]:
create_diagnostic_table(calc_response)

                                   2018
Returns (#m)                      169.9
AGI ($b)                       10,516.9
Itemizers (#m)                     13.3
Itemized Deduction ($b)           312.5
Standard Deduction Filers (#m)    138.7
Standard Deduction ($b)         2,380.3
Personal Exemption ($b)             0.0
Taxable Income ($b)             8,175.3
Regular Tax ($b)                1,408.1
AMT Income ($b)                10,254.1
AMT Liability ($b)                  0.0
AMT Filers (#m)                     0.0
Tax before Credits ($b)         1,408.1
Refundable Credits ($b)            71.7
Nonrefundable Credits ($b)        118.3
Reform Surtaxes ($b)                0.0
Other Taxes ($b)                    9.3
Ind Income Tax ($b)             1,227.4
Payroll Taxes ($b)              1,231.9
Combined Liability ($b)         2,459.3
With Income Tax <= 0 (#m)          75.3
With Combined Tax <= 0 (#m)        48.2

#### Distribution Table

The distribution table shows the same information as the diagnostic table, but broken down by income bin or decile. You can view the results as either the weighted average or the weighted sum in each bin

In [12]:
create_distribution_table(calc.records, groupby='weighted_deciles',
                          income_measure='expanded_income', result_type='weighted_avg')

,s006,c00100,num_returns_StandardDed,standard,num_returns_ItemDed,c04470,c04600,c04800,taxbc,c62100,...,c09600,c05800,c07100,othertaxes,refund,iitax,payrolltax,combined,expanded_income,aftertax_income
0,"16,989,417",-662,1,"6,587",0,5,"5,262",24,1,-664,...,0,1,0,0,98,-97,176,79,-233,-312
1,"16,988,286","5,118",1,"7,814",0,207,"5,904",190,13,"5,018",...,0,13,3,0,755,-745,663,-82,"9,847","9,929"
2,"16,990,004","9,116",1,"7,860",0,"1,045","6,319","1,636",153,"8,514",...,1,154,29,0,"1,020",-895,"1,209",314,"17,245","16,931"
3,"16,989,656","17,018",1,"7,632",0,"2,335","7,151","5,057",532,"15,624",...,2,534,90,0,"1,193",-750,"2,327","1,577","25,262","23,685"
4,"16,989,955","26,269",1,"7,157",0,"3,910","7,667","10,826","1,244","23,898",...,4,"1,247",168,0,921,158,"3,609","3,768","34,401","30,633"
5,"16,989,241","37,913",1,"6,375",0,"5,941","8,090","19,220","2,298","34,325",...,5,"2,303",279,0,426,"1,598","5,182","6,780","45,965","39,185"
6,"16,989,686","54,723",0,"4,842",1,"9,622","8,499","32,350","4,206","48,877",...,3,"4,209",394,0,82,"3,733","7,416","11,149","61,857","50,708"
7,"16,989,485","78,655",0,"3,383",1,"13,995","9,343","52,170","7,544","70,468",...,4,"7,549",496,0,13,"7,040","10,754","17,794","85,684","67,890"
8,"16,989,613","114,892",0,"2,039",1,"19,742","10,530","82,679","12,939","103,702",...,6,"12,946",449,0,3,"12,494","15,860","28,354","124,252","95,898"
9,"16,989,497","275,212",0,990,1,"31,544","10,053","232,701","51,691","259,091",...,"1,036","52,726",29,549,0,"53,246","25,411","78,657","290,513","211,856"
10,"169,894,840","61,825",0,"5,468",0,"8,835","7,882","43,685","8,062","56,885",...,106,"8,168",194,55,451,"7,578","7,261","14,839","69,480","54,641"
11,"8,494,307","275,522",0,832,1,"34,428","10,319","230,082","52,892","258,274",...,"1,311","54,202",39,421,0,"54,584","25,806","80,390","291,849","211,459"
12,"6,795,859","227,307",0,"1,113",1,"28,420","10,529","187,262","39,191","212,227",...,436,"39,627",21,183,0,"39,789","25,123","64,912","241,486","176,575"
13,"1,699,332","465,235",0,"1,281",1,"29,618","6,821","427,514","95,675","450,590",...,"2,057","97,731",6,"2,649",0,"100,375","24,584","124,958","479,898","354,940"

In [13]:
create_distribution_table(calc_response.records, groupby='weighted_deciles',
                          income_measure='expanded_income', result_type='weighted_sum')

,s006,c00100,num_returns_StandardDed,standard,num_returns_ItemDed,c04470,c04600,c04800,taxbc,c62100,...,c09600,c05800,c07100,othertaxes,refund,iitax,payrolltax,combined,expanded_income,aftertax_income
0,"16,989,028","-9,827,556,603","9,579,064","191,135,893,552","4,231","3,273,315",0,"545,622,539","25,628,858","-9,830,829,918",...,0,"25,628,858","24,748,065",0,"1,662,090,300","-1,661,209,506","2,997,769,428","1,336,559,922","-3,958,098,965","-5,294,658,887"
1,"16,989,465","87,846,268,689","11,780,242","231,437,753,151","12,716","170,395,371",0,"1,524,778,468","67,851,552","87,703,049,456",...,0,"67,851,552","58,710,576",0,"12,902,375,287","-12,893,234,311","11,265,851,698","-1,627,382,613","167,236,434,997","168,863,817,610"
2,"16,989,636","155,821,082,556","13,342,978","243,003,031,103","96,983","1,413,697,034",0,"27,455,950,849","3,064,924,580","154,625,708,134",...,0,"3,064,924,580","2,074,937,200",0,"17,275,404,504","-16,285,417,124","20,539,812,804","4,254,395,679","292,686,742,734","288,432,347,055"
3,"16,989,794","289,944,850,143","15,522,265","263,968,108,365","233,657","3,330,455,031",0,"96,986,458,921","11,159,284,290","287,044,211,938",...,0,"11,159,284,290","5,124,614,055",0,"19,668,621,696","-13,633,951,462","39,495,697,139","25,861,745,677","428,957,361,721","403,095,616,044"
4,"16,989,434","447,028,410,765","16,123,368","275,700,316,814","471,983","6,744,736,802",0,"212,442,086,425","24,400,666,295","441,205,331,753",...,0,"24,400,666,295","9,571,249,753",0,"14,053,822,996","775,593,546","61,210,521,430","61,986,114,976","583,926,113,095","521,939,998,119"
5,"16,989,340","645,238,684,863","16,128,348","284,558,633,098","765,218","11,500,121,644",0,"373,003,913,970","42,895,014,156","635,353,140,182",...,0,"42,895,014,156","14,292,884,897",0,"5,693,139,146","22,908,990,114","87,989,026,304","110,898,016,417","779,979,327,503","669,081,311,085"
6,"16,988,819","929,566,823,028","15,918,877","294,144,465,502","1,060,763","17,282,806,808",0,"622,178,753,990","73,890,219,171","914,732,853,217",...,0,"73,890,219,171","18,966,028,687",0,"373,252,837","54,550,937,646","125,658,435,874","180,209,373,520","1,048,650,737,382","868,441,363,862"
7,"16,990,156","1,336,207,634,178","15,523,687","312,070,968,137","1,466,469","25,462,760,905",0,"998,984,689,236","131,572,917,131","1,314,512,275,772",...,0,"131,572,917,131","23,126,062,736",0,"25,206,925","108,421,647,470","182,305,299,494","290,726,946,964","1,453,078,946,395","1,162,351,999,430"
8,"16,989,672","1,951,791,397,145","14,487,192","314,244,583,720","2,502,480","54,135,802,517",0,"1,583,446,948,653","223,303,247,793","1,905,544,715,192",...,0,"223,303,247,793","26,398,389,436",0,"5,400,719","196,899,457,637","269,045,515,139","465,944,972,776","2,107,207,189,312","1,641,262,216,536"
9,"16,989,496","4,683,317,672,309","10,334,808","232,170,910,425","6,654,687","192,409,380,391",0,"4,258,737,381,493","897,692,010,275","4,523,228,824,225",...,0,"897,692,010,275","18,703,096,931","9,343,884,266",0,"888,332,797,610","431,350,643,666","1,319,683,441,276","4,931,895,622,582","3,612,212,181,306"
10,"169,894,840","10,516,935,267,073","138,740,829","2,642,434,663,868","13,269,188","312,453,429,819",0,"8,175,306,584,545","1,408,071,764,100","10,254,119,279,950",...,0,"1,408,071,764,100","118,340,722,335","9,343,884,266","71,659,314,411","1,227,415,611,619","1,231,858,572,977","2,459,274,184,596","11,789,660,376,755","9,330,386,192,160"
11,"8,494,348","2,346,734,253,297","4,815,310","108,490,135,426","3,679,038","110,687,024,805",0,"2,127,557,093,066","463,806,245,072","2,255,109,784,677",...,0,"463,806,245,072","10,966,230,559","3,601,458,720",0,"456,441,473,234","218,996,682,946","675,438,156,180","2,476,990,502,751","1,801,552,346,572"
12,"6,795,684","1,546,073,327,838","4,440,327","99,955,126,689","2,355,357","63,608,353,222",0,"1,382,509,847,927","271,948,717,280","1,492,498,440,527",...,0,"271,948,717,280","7,297,881,516","1,250,887,604",0,"265,901,723,369","170,606,812,633","436,508,536,001","1,640,196,971,862","1,203,688,435,861"
13,"1,699,464","790,510,091,174","1,079,172","23,725,648,310","620,292","18,114,002,365",0,"748,670,440,500","161,937,047,923","775,620,599,021",...,0,"161,937,047,923","438,984,857","4,491,537,941",0,"165,989,601,007","41,747,148,088","207,736,749,095","814,708,147,968","606,971,398,873"

#### Differences Table

The differences table displays the difference between your baseline and refoms. You can also group the results by decile or income bin.

In [14]:
create_difference_table(calc.records, calc_response.records, groupby='weighted_deciles',
                        income_measure='expanded_income', tax_to_diff='combined')

,count,tax_cut,perc_cut,tax_inc,perc_inc,mean,tot_change,share_of_change,perc_aftertax,pc_aftertaxinc
0,"16,989,416.58","107,203.82",0.63,"2,630.59",0.02,-0.58,"-9,928,489.71",0.02,-0.01,0.01
1,"16,988,285.70","1,913,087.92",11.26,"23,330.06",0.14,-14.55,"-247,179,274.80",0.40,-0.13,0.09
2,"16,990,004.05","5,425,493.22",31.93,"1,034,909.27",6.09,-72.74,"-1,235,777,171.30",2.00,-0.51,0.38
3,"16,989,656.05","7,490,780.81",44.09,"2,885,585.31",16.98,-63.38,"-1,076,860,206.74",1.74,-0.34,0.26
4,"16,989,954.66","8,845,717.18",52.06,"4,177,589.89",24.59,-130.57,"-2,218,411,482.41",3.59,-0.54,0.41
5,"16,989,240.80","10,499,711.16",61.80,"4,124,052.84",24.27,-237.27,"-4,031,045,204.05",6.52,-0.71,0.54
6,"16,989,686.38","11,963,599.35",70.42,"4,256,291.68",25.05,-538.20,"-9,143,775,370.17",14.80,-1.16,0.88
7,"16,989,484.52","12,247,440.35",72.09,"4,651,136.99",27.38,-664.10,"-11,282,708,373.45",18.26,-1.04,0.79
8,"16,989,613.44","12,108,717.63",71.27,"4,872,298.39",28.68,-935.53,"-15,894,347,292.05",25.72,-1.02,0.78
9,"16,989,497.48","10,603,706.01",62.41,"6,385,753.82",37.59,-980.39,"-16,656,293,989.29",26.95,-0.52,0.40
10,"169,894,839.66","81,205,457.45",nan,"32,413,578.84",nan,nan,"-61,796,326,853.97",100.00,nan,nan
11,"8,494,172.66","5,464,850.46",64.34,"3,029,284.55",35.66,-745.25,"-6,330,321,354.95",10.24,-0.61,0.47
12,"6,794,896.30","3,798,483.02",55.90,"2,996,413.28",44.10,-606.11,"-4,118,459,401.88",6.66,-0.30,0.24
13,"1,700,428.52","1,340,372.53",78.83,"360,055.99",21.17,"-3,650.56","-6,207,513,232.46",10.05,-0.90,0.69

#### Plotting

You can use built in methods to get MTR and ATR plots. Each one is returned as a simple Bokeh figure that you can then add to as desired

In [15]:
from bokeh.io import show, output_notebook
output_notebook()

In [16]:
mtr_plot_data = mtr_graph_data(calc, calc_response)

In [17]:
show(xtr_graph_plot(mtr_plot_data))

In [20]:
atr_plot_data = atr_graph_data(calc, calc_response)

In [21]:
show(xtr_graph_plot(atr_plot_data))

#### Multiyear diagnostic tables

You can also produce diagnostic tables up to 2026

In [22]:
multiyear_diagnostic_table(calc, num_years=9)

,2018,2019,2020,2021,2022,2023,2024,2025,2026
Returns (#m),169.9,172.2,174.5,176.9,179.3,181.7,184.1,186.6,189.1
AGI ($b),"10,503.8","10,987.4","11,474.4","11,999.4","12,561.1","13,146.7","13,759.3","14,401.2","15,070.1"
Itemizers (#m),68.0,69.6,71.2,72.7,74.2,75.9,77.5,79.1,80.8
Itemized Deduction ($b),"1,500.9","1,585.9","1,672.2","1,765.4","1,863.5","1,967.0","2,075.8","2,189.3","2,312.4"
Standard Deduction Filers (#m),83.9,84.3,84.8,85.4,86.0,86.5,87.1,87.7,88.3
Standard Deduction ($b),771.4,791.5,813.9,838.1,863.3,887.9,914.4,940.9,968.1
Personal Exemption ($b),"1,222.6","1,266.2","1,312.4","1,361.2","1,412.5","1,464.9","1,519.7","1,576.1","1,634.7"
Taxable Income ($b),"7,421.9","7,768.6","8,113.2","8,485.3","8,886.3","9,305.2","9,742.7","10,203.3","10,678.8"
Regular Tax ($b),"1,369.7","1,442.9","1,514.0","1,590.9","1,672.5","1,756.7","1,843.9","1,935.7","2,029.1"
AMT Income ($b),"9,664.5","10,099.5","10,536.6","11,008.0","11,513.5","12,039.3","12,589.2","13,165.8","13,763.9"
AMT Liability ($b),18.0,18.5,19.2,20.1,21.1,22.3,23.5,24.9,26.5
AMT Filers (#m),4.2,4.3,4.5,4.6,4.7,4.9,5.1,5.3,5.5
Tax before Credits ($b),"1,387.7","1,461.5","1,533.2","1,611.0","1,693.6","1,779.0","1,867.4","1,960.7","2,055.6"
Refundable Credits ($b),76.6,78.4,80.5,82.7,84.8,86.8,88.8,90.9,93.0
Nonrefundable Credits ($b),32.9,32.9,32.9,32.8,32.6,32.5,32.3,32.1,31.9
Reform Surtaxes ($b),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Other Taxes ($b),9.3,10.0,10.6,11.2,11.9,12.5,13.2,14.0,14.8
Ind Income Tax ($b),"1,287.5","1,360.1","1,430.4","1,506.8","1,588.1","1,672.3","1,759.6","1,851.7","1,945.6"
Payroll Taxes ($b),"1,233.6","1,290.3","1,344.7","1,402.7","1,465.8","1,533.0","1,603.6","1,677.7","1,755.3"
Combined Liability ($b),"2,521.1","2,650.5","2,775.1","2,909.4","3,053.9","3,205.3","3,363.2","3,529.4","3,700.9"
With Income Tax <= 0 (#m),72.0,72.6,73.2,73.8,74.4,75.0,75.5,76.1,76.6
With Combined Tax <= 0 (#m),48.6,49.1,49.5,49.9,50.4,50.8,51.3,51.7,52.1

In [23]:
multiyear_diagnostic_table(calc_response, num_years=9)

,2018,2019,2020,2021,2022,2023,2024,2025,2026
Returns (#m),169.9,172.2,174.5,176.9,179.3,181.7,184.1,186.6,189.1
AGI ($b),"10,516.9","11,001.2","11,488.8","12,014.5","12,577.0","13,163.4","13,776.8","14,419.6","15,089.5"
Itemizers (#m),13.3,14.2,15.2,16.2,17.2,18.2,19.3,20.3,21.5
Itemized Deduction ($b),312.5,346.4,381.2,419.1,459.6,503.0,550.1,599.7,655.5
Standard Deduction Filers (#m),138.7,139.8,141.0,142.1,143.3,144.4,145.5,146.7,147.7
Standard Deduction ($b),"2,380.3","2,449.7","2,523.9","2,601.8","2,683.8","2,766.1","2,851.2","2,938.4","3,026.3"
Personal Exemption ($b),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Taxable Income ($b),"8,175.3","8,565.8","8,954.5","9,374.8","9,826.3","10,298.4","10,791.8","11,310.1","11,848.6"
Regular Tax ($b),"1,408.1","1,484.8","1,559.6","1,640.7","1,726.5","1,814.9","1,906.6","2,003.0","2,101.8"
AMT Income ($b),"10,254.1","10,709.7","11,167.8","11,661.3","12,189.6","12,739.1","13,312.6","13,913.4","14,536.0"
AMT Liability ($b),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AMT Filers (#m),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Tax before Credits ($b),"1,408.1","1,484.8","1,559.6","1,640.7","1,726.5","1,814.9","1,906.6","2,003.0","2,101.8"
Refundable Credits ($b),71.7,74.9,76.9,78.9,80.9,84.4,86.4,88.3,90.3
Nonrefundable Credits ($b),118.3,120.2,121.7,123.4,124.9,79.9,80.9,81.9,82.8
Reform Surtaxes ($b),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Other Taxes ($b),9.3,10.0,10.6,11.3,11.9,12.6,13.3,14.0,14.9
Ind Income Tax ($b),"1,227.4","1,299.7","1,371.6","1,449.7","1,532.6","1,663.1","1,752.6","1,846.8","1,943.6"
Payroll Taxes ($b),"1,231.9","1,288.6","1,342.9","1,400.7","1,463.8","1,530.9","1,601.4","1,675.4","1,752.9"
Combined Liability ($b),"2,459.3","2,588.2","2,714.5","2,850.4","2,996.4","3,194.0","3,354.0","3,522.3","3,696.5"
With Income Tax <= 0 (#m),75.3,75.7,76.2,76.5,77.0,72.5,73.0,73.4,73.9
With Combined Tax <= 0 (#m),48.2,48.7,49.2,49.6,49.9,49.5,49.9,50.3,50.7

#### Reporting your changes

To display what reforms you included in a way that is easy for humans to read, you can use the `reform_documentation` method. It will print out all of the policy parameters you've specified with a short description and their default and current values


_Note: this feature is not yet available in the taxcalc package. You must use the source code to access it. It will be available in the next taxcalc release._

In [24]:
print(calc_response.reform_documentation(reforms))

REFORM DOCUMENTATION
Baseline Growth-Difference Assumption Values by Year:
none: using default baseline growth assumptions
Policy Reform Parameter Values by Year:
2018:
 _ALD_DomesticProduction_hc : 1
  name: Deduction for domestic production activity haircut
  desc: If greater than zero, this decimal fraction reduces the portion of
        domestic production activity that can be deducted from AGI.
  baseline_value: 0.0
 _ALD_StudentLoan_hc : 1
  name: Adjustment for student loan interest haircut
  desc: This decimal fraction can be applied to limit the student loan
        interest adjustment allowed.
  baseline_value: 0.0
 _ALD_Tuition_hc : 1
  name: Deduction for tuition and fees haircut
  desc: If greater than zero, this decimal fraction reduces the portion of
        tuition and fees that can be deducted from AGI.
  baseline_value: 0.0
 _AMT_rt1 : 0
  name: AMT rate 1
  desc: The tax rate applied to the portion of AMT taxable income below the
        surtax threshold, AMT bracket 1.
  baseline_value: 0.26
 _AMT_rt2 : 0
  name: Additional AMT rate for AMT taxable income above AMT bracket 1
  desc: The additional tax rate applied to the portion of AMT income above the
        AMT bracket 1.
  baseline_value: 0.02
 _CG_brk1 : [38600, 77200, 38600, 51700, 77200]
            ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Top of long-term capital gains and qualified dividends
        (regular/non-AMT) tax bracket 1
  desc: The gains and dividends (stacked on top of regular income) below this
        are taxed at capital gain rate 1.
  baseline_value: [38803.88, 77607.75, 38803.88, 51943.0, 77607.75]
 _CG_brk2 : [425800, 479000, 239500, 452400, 479000]
            ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Top of long-term capital gains and qualified dividends
        (regular/non-AMT) tax bracket 2
  desc: The gains and dividends (stacked on top of regular income) below this
        and above top of bracket 1 are taxed at capital gain rate 2.
  baseline_value: [427814.0, 481290.75, 240645.38, 454552.38, 481290.75]
 _CR_SchR_hc : 1
  name: Schedule R Credit haircut
  desc: If greater than zero, this decimal fraction reduces the portion of
        Schedule R credit that can be claimed.
  baseline_value: 0.0
 _CTC_c : 1100
  name: Maximum child tax credit per child
  desc: The maximum amount of credit allowed for each child.
  baseline_value: 1000.0
 _CTC_ps : [115000, 230000, 115000, 115000, 115000]
           ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Child tax credit phaseout MAGI start
  desc: Child tax credit begins to decrease when MAGI is above this level.
  baseline_value: [75000.0, 110000.0, 55000.0, 75000.0, 75000.0]
 _DependentCredit_Child_c : 500
  name: Nonrefundable credit for children, on top of the child tax credit
  desc: This nonrefundable credit is applied to children and phases out with
        the Child Tax Credit. The dependent credit's phaseout begins when the
        CTC's phaseout ends.
  baseline_value: 0.0
 _DependentCredit_Nonchild_c : 300
  name: Nonrefundable credit for non-child dependents
  desc: This nonrefundable credit is applied to non-child dependents and
        phases out with the Child Tax Credit. The dependent credit's phaseout
        begins when the CTC's phaseout ends.
  baseline_value: 0.0
 _FilerCredit_c : [300, 600, 300, 300, 300]
                  ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Nonrefundable credit for filer and spouse
  desc: This nonrefundable credit is applied to the filer and spouse and
        phases out with the Child Tax Credit. The filer credit's phaseout
        begins when the CTC's phaseout ends.
  baseline_value: [0.0, 0.0, 0.0, 0.0, 0.0]
 _ID_Casualty_hc : 1
  name: Casualty expense deduction haircut
  desc: This decimal fraction can be applied to limit the amount of casualty
        expense deduction allowed.
  baseline_value: 0.0
 _ID_Medical_hc : 1
  name: Medical expense deduction haircut
  desc: This decimal fraction can be applied to limit the amount of medical
        expense deduction allowed.
  baseline_value: 0.0
 _ID_Miscellaneous_hc : 1
  name: Miscellaneous expense deduction haircut
  desc: This decimal fraction can be applied to limit the amount of
        miscellaneous expense deduction allowed.
  baseline_value: 0.0
 _ID_RealEstate_c : [10000, 10000, 10000, 10000, 10000]
                    ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Ceiling on the amount of state, local, and foreign real estate taxes
        deduction allowed (dollars)
  desc: The amount of real estate taxes deduction is limited to this dollar
        amount.
  baseline_value: [9e+99, 9e+99, 9e+99, 9e+99, 9e+99]
 _ID_StateLocalTax_hc : 1
  name: State and local income and sales taxes deduction haircut.
  desc: This decimal fraction reduces the state and local income and sales tax
        deduction.
  baseline_value: 0.0
 _ID_prt : 0
  name: Itemized deduction phaseout rate (Pease)
  desc: Taxpayers will not be eligible to deduct the full amount of itemized
        deduction if their AGI is above the phaseout start. The deductible
        portion would be decreased at this rate for each dollar exceeding the
        start.
  baseline_value: 0.03
 _II_brk1 : [45000, 90000, 45000, 67500, 90000]
            ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Personal income (regular/non-AMT/non-pass-through) tax bracket (upper
        threshold) 1
  desc: Taxable income below this threshold is taxed at tax rate 1.
  baseline_value: [9534.81, 19069.63, 9534.81, 13650.38, 19069.63]
 _II_brk2 : [200000, 260000, 130000, 200000, 260000]
            ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Personal income (regular/non-AMT/non-pass-through) tax bracket (upper
        threshold) 2
  desc: Income below this threshold and above tax bracket 1 is taxed at tax
        rate 2.
  baseline_value: [38803.88, 77607.75, 38803.88, 51943.0, 77607.75]
 _II_brk3 : [500000, 1000000, 500000, 500000, 1000000]
            ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Personal income (regular/non-AMT/non-pass-through) tax bracket (upper
        threshold) 3
  desc: Income below this threshold and above tax bracket 2 is taxed at tax
        rate 3.
  baseline_value: [93967.75, 156544.75, 78272.38, 134152.0, 156544.75]
 _II_brk4 : [1000000, 1200000, 1000000, 1000000, 1200000]
            ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Personal income (regular/non-AMT/non-pass-through) tax bracket (upper
        threshold) 4
  desc: Income below this threshold and above tax bracket 3 is taxed at tax
        rate 4.
  baseline_value: [195962.13, 238600.38, 119300.19, 217281.25, 238600.38]
 _II_brk5 : [1207000, 1614000, 1207000, 1310500, 1614000]
            ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Personal income (regular/non-AMT/non-pass-through) tax bracket (upper
        threshold) 5
  desc: Income below this threshold and above tax bracket 4 is taxed at tax
        rate 5.
  baseline_value: [426075.75, 426075.75, 213037.88, 426075.75, 426075.75]
 _II_brk6 : [2000000, 2000000, 2000000, 2000000, 2000000]
            ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Personal income (regular/non-AMT/non-pass-through) tax bracket 6
  desc: Income below this threshold and above tax bracket 5 is taxed at tax
        rate 6.
  baseline_value: [427814.0, 481290.75, 240645.38, 454552.38, 481290.75]
 _II_em : 0
  name: Personal and dependent exemption amount
  desc: Subtracted from AGI in the calculation of taxable income, per taxpayer
        and dependent.
  baseline_value: 4141.13
 _II_rt1 : 0.12
  name: Personal income (regular/non-AMT/non-pass-through) tax rate 1
  desc: The lowest tax rate, applied to the portion of taxable income below
        tax bracket 1.
  baseline_value: 0.1
 _II_rt2 : 0.25
  name: Personal income (regular/non-AMT/non-pass-through) tax rate 2
  desc: The second lowest tax rate, applied to the portion of taxable income
        below tax bracket 2 and above tax bracket 1.
  baseline_value: 0.15
 _II_rt3 : 0.35
  name: Personal income (regular/non-AMT/non-pass-through) tax rate 3
  desc: The third lowest tax rate, applied to the portion of taxable income
        below tax bracket 3 and above tax bracket 2.
  baseline_value: 0.25
 _II_rt4 : 0.396
  name: Personal income (regular/non-AMT/non-pass-through) tax rate 4
  desc: The tax rate applied to the portion of taxable income below tax
        bracket 4 and above tax bracket 3.
  baseline_value: 0.28
 _II_rt5 : 0.456
  name: Personal income (regular/non-AMT/non-pass-through) tax rate 5
  desc: The third highest tax rate, applied to the portion of taxable income
        below tax bracket 5 and above tax bracket 4.
  baseline_value: 0.33
 _II_rt6 : 0.396
  name: Personal income (regular/non-AMT/non-pass-through) tax rate 6
  desc: The second higher tax rate, applied to the portion of taxable income
        below tax bracket 6 and above tax bracket 5.
  baseline_value: 0.35
 _II_rt7 : 0.396
  name: Personal income (regular/non-AMT/non-pass-through) tax rate 7
  desc: The tax rate applied to the portion of taxable income below tax
        bracket 7 and above tax bracket 6.
  baseline_value: 0.396
 _LLC_Expense_c : 0
  name: Lifetime learning credit expense limit
  desc: The maximum expense eligible for lifetime learning credit, per child.
  baseline_value: 10000.0
 _PT_EligibleRate_active : 0.3
  name: Share of active business income eligible for PT rate schedule
  desc: Eligibility rate of active business income for separate pass-through
        rates.
  baseline_value: 1.0
 _PT_EligibleRate_passive : 1.0
  name: Share of passive business income eligible for PT rate schedule
  desc: Eligibility rate of passive business income for separate pass-through
        rates.
  baseline_value: 0.0
 _PT_brk1 : [45000, 90000, 45000, 67500, 90000]
            ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Pass-through income tax bracket (upper threshold) 1
  desc: Income from sole proprietorships, partnerships and S corporations
        below this threshold is taxed at tax rate 1.
  baseline_value: [9534.81, 19069.63, 9534.81, 13650.38, 19069.63]
 _PT_brk2 : [200000, 260000, 130000, 200000, 260000]
            ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Pass-through income tax bracket (upper threshold) 2
  desc: Income from sole proprietorships, partnerships and S corporations
        below this threshold and above tax bracket 1 is taxed at tax rate 2.
  baseline_value: [38803.88, 77607.75, 38803.88, 51943.0, 77607.75]
 _PT_brk3 : [500000, 1000000, 500000, 500000, 1000000]
            ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Pass-through income tax bracket (upper threshold) 3
  desc: Income from sole proprietorships, partnerships and S corporations
        below this threshold and above tax bracket 2 is taxed at tax rate 3.
  baseline_value: [93967.75, 156544.75, 78272.38, 134152.0, 156544.75]
 _PT_brk4 : [1000000, 1200000, 1000000, 1000000, 1200000]
            ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Pass-through income tax bracket (upper threshold) 4
  desc: Income from sole proprietorships, partnerships and S corporations
        below this threshold and above tax bracket 3 is taxed at tax rate 4.
  baseline_value: [195962.13, 238600.38, 119300.19, 217281.25, 238600.38]
 _PT_brk5 : [1207000, 1614000, 1207000, 1310500, 1614000]
            ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Pass-through income tax bracket (upper threshold) 5
  desc: Income from sole proprietorships, partnerships and S corporations
        below this threshold and above tax bracket 4 is taxed at tax rate 5.
  baseline_value: [426075.75, 426075.75, 213037.88, 426075.75, 426075.75]
 _PT_brk6 : [2000000, 2000000, 2000000, 2000000, 2000000]
            ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Pass-through income tax bracket (upper threshold) 6
  desc: Income from sole proprietorships, partnerships and S corporations
        below this threshold and above tax bracket 5 is taxed at tax rate 6.
  baseline_value: [427814.0, 481290.75, 240645.38, 454552.38, 481290.75]
 _PT_rt1 : 0.12
  name: Pass-through income tax rate 1
  desc: The lowest tax rate, applied to the portion of income from sole
        proprietorships, partnerships and S corporations below tax bracket 1.
  baseline_value: 0.1
 _PT_rt2 : 0.25
  name: Pass-through income tax rate 2
  desc: The second lowest tax rate, applied to the portion of income from sole
        proprietorships, partnerships and S corporations below tax bracket 2
        and above tax bracket 1.
  baseline_value: 0.15
 _PT_rt3 : 0.25
  name: Pass-through income tax rate 3
  desc: The third lowest tax rate, applied to the portion of income from sole
        proprietorships, partnerships and S corporations below tax bracket 3
        and above tax bracket 2.
  baseline_value: 0.25
 _PT_rt4 : 0.25
  name: Pass-through income tax rate 4
  desc: The tax rate applied to the portion of income from sole
        proprietorships, partnerships and S corporations below tax bracket 4
        and above tax bracket 3.
  baseline_value: 0.28
 _PT_rt5 : 0.31
  name: Pass-through income tax rate 5
  desc: The third highest tax rate, applied to the portion of income from sole
        proprietorships, partnerships and S corporations below tax bracket 5
        and above tax bracket 4.
  baseline_value: 0.33
 _PT_rt6 : 0.25
  name: Pass-through income tax rate 6
  desc: The second higher tax rate, applied to the portion of income from sole
        proprietorships, partnerships and S corporations below tax bracket 6
        and above tax bracket 5.
  baseline_value: 0.35
 _PT_rt7 : 0.25
  name: Pass-through income tax rate 7
  desc: The highest tax rate, applied to the portion of income from sole
        proprietorships, partnerships and S corporations below tax bracket 7
        and above tax bracket 6.
  baseline_value: 0.396
 _PT_top_stacking : False
  name: PT taxable income stacked on top of regular taxable income
  desc: Whether taxable income eligible for PT rate schedule is stacked on top
        of regular taxable income.
  baseline_value: True
 _PT_wages_active_income : True
  name: Wages included in (positive) active business income eligible for PT
        rates
  desc: Whether active business income eligibility base for PT schedule for
        includes wages.
  baseline_value: False
 _STD : [12000, 24000, 12000, 18000, 24000]
        ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Standard deduction amount
  desc: Amount filing unit can use as a standard deduction.
  baseline_value: [6492.88, 12985.75, 6492.88, 9560.38, 12985.75]
 _STD_Aged : [0, 0, 0, 0, 0]
             ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Additional standard deduction for blind and aged
  desc: To get the standard deduction for aged or blind individuals, taxpayers
        need to add this value to regular standard deduction.
  baseline_value: [1584.88, 1278.13, 1278.13, 1584.88, 1584.88]
 _STD_Dep : 500
  name: Standard deduction for dependents
  desc: This is the maximum standard deduction for dependents.
  baseline_value: 1073.63
2019:
 _CTC_c : 1200
  name: Maximum child tax credit per child
  desc: The maximum amount of credit allowed for each child.
  baseline_value: 1000.0
 _DependentCredit_Child_c : 400
  name: Nonrefundable credit for children, on top of the child tax credit
  desc: This nonrefundable credit is applied to children and phases out with
        the Child Tax Credit. The dependent credit's phaseout begins when the
        CTC's phaseout ends.
  baseline_value: 0.0
2023:
 _CTC_c : 1300
  name: Maximum child tax credit per child
  desc: The maximum amount of credit allowed for each child.
  baseline_value: 1000.0
 _DependentCredit_Child_c : 300
  name: Nonrefundable credit for children, on top of the child tax credit
  desc: This nonrefundable credit is applied to children and phases out with
        the Child Tax Credit. The dependent credit's phaseout begins when the
        CTC's phaseout ends.
  baseline_value: 0.0
 _DependentCredit_Nonchild_c : 0
  name: Nonrefundable credit for non-child dependents
  desc: This nonrefundable credit is applied to non-child dependents and
        phases out with the Child Tax Credit. The dependent credit's phaseout
        begins when the CTC's phaseout ends.
  baseline_value: 0.0
 _FilerCredit_c : [0, 0, 0, 0, 0]
                  ['single', 'joint', 'separate', 'headhousehold', 'widow']
  name: Nonrefundable credit for filer and spouse
  desc: This nonrefundable credit is applied to the filer and spouse and
        phases out with the Child Tax Credit. The filer credit's phaseout
        begins when the CTC's phaseout ends.
  baseline_value: [0.0, 0.0, 0.0, 0.0, 0.0]
2027:
 _CTC_c : 1400
  name: Maximum child tax credit per child
  desc: The maximum amount of credit allowed for each child.
  baseline_value: 1000.0
 _DependentCredit_Child_c : 200
  name: Nonrefundable credit for children, on top of the child tax credit
  desc: This nonrefundable credit is applied to children and phases out with
        the Child Tax Credit. The dependent credit's phaseout begins when the
        CTC's phaseout ends.
  baseline_value: 0.0

One thing I didn't cover is how to extract the marginal tax rates. All you need to do is call the `Calculator.mtr()` method. It will return MTR for individual income tax, payroll tax, and individaul income tax + payroll tax

In [25]:
mtr_payroll, mtr_income, mtr_combined = calc.mtr()

In [26]:
mtr_payroll

array([ 0.14212726,  0.14212726,  0.14212726, ...,  0.14212726,
        0.14212726,  0.14212726])

In [27]:
mtr_income

array([ 0.13934046,  0.        ,  0.        , ...,  0.23687877,
        0.23687877,  0.23687877])

In [28]:
mtr_combined

array([ 0.28146772,  0.14212726,  0.14212726, ...,  0.37900604,
        0.37900604,  0.37900604])