# OpenUBI plan

A UBI plan which minimizes the net losses per tax unit.

## Setup

In [2]:
import taxcalc as tc
import taxcalc_helpers as tch
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
tc.__version__

'0.20.1'

### Settings

In [4]:
sns.set_style('white')
DPI = 300
mpl.rc('savefig', dpi=DPI)
mpl.rcParams['figure.dpi'] = DPI
mpl.rcParams['figure.figsize'] = 6.4, 4.8  # Default.

In [8]:
mpl.rcParams['font.sans-serif'] = 'Roboto'
mpl.rcParams['font.family'] = 'sans-serif'

# Set title text color to dark gray (https://material.io/color) not black.
TITLE_COLOR = '#212121'
mpl.rcParams['text.color'] = TITLE_COLOR

# Axis titles and tick marks are medium gray.
AXIS_COLOR = '#757575'
mpl.rcParams['axes.labelcolor'] = AXIS_COLOR
mpl.rcParams['xtick.color'] = AXIS_COLOR
mpl.rcParams['ytick.color'] = AXIS_COLOR

# Use Seaborn's default color palette.
# https://stackoverflow.com/q/48958426/1840471 for reproducibility.
sns.set_palette(sns.color_palette())

In [6]:
# Show one decimal in tables.
pd.set_option('precision', 2)

## Data

In [18]:
CG_RATES = [0., 0.15, 0.2]
II_RATES = [0.1, 0.12, 0.22, 0.24, 0.32, 0.35, 0.37]

In [19]:
reform_eliminate_bottom_bracket = {
    2018: {
        '_CG_rt1': [CG_RATES[1]],
        '_AMT_CG_rt1': [CG_RATES[1]],
        '_II_rt1': [II_RATES[1]],
        '_PT_rt1': [II_RATES[1]]
    }
}

In [21]:
reform_eliminate_bottom_2bracket = {
    2018: {
        '_CG_rt1': [CG_RATES[2]],
        '_AMT_CG_rt1': [CG_RATES[2]],
        '_II_rt1': [II_RATES[2]],
        '_PT_rt1': [II_RATES[2]],
        '_CG_rt2': [CG_RATES[2]],
        '_AMT_CG_rt2': [CG_RATES[2]],
        '_II_rt2': [II_RATES[2]],
        '_PT_rt2': [II_RATES[2]]
    }
}

In [25]:
reform_eliminate_bottom_3bracket = {
    2018: {
        '_CG_rt1': [CG_RATES[2]],
        '_AMT_CG_rt1': [CG_RATES[2]],
        '_II_rt1': [II_RATES[3]],
        '_PT_rt1': [II_RATES[3]],
        '_CG_rt2': [CG_RATES[2]],
        '_AMT_CG_rt2': [CG_RATES[2]],
        '_II_rt2': [II_RATES[3]],
        '_PT_rt2': [II_RATES[3]],
        '_II_rt3': [II_RATES[3]],
        '_PT_rt3': [II_RATES[3]],
    }
}

In [28]:
reform_eliminate_bottom_4bracket = {
    2018: {
        '_CG_rt1': [CG_RATES[2]],
        '_AMT_CG_rt1': [CG_RATES[2]],
        '_II_rt1': [II_RATES[4]],
        '_PT_rt1': [II_RATES[4]],
        '_CG_rt2': [CG_RATES[2]],
        '_AMT_CG_rt2': [CG_RATES[2]],
        '_II_rt2': [II_RATES[4]],
        '_PT_rt2': [II_RATES[4]],
        '_II_rt3': [II_RATES[4]],
        '_PT_rt3': [II_RATES[4]],
        '_II_rt4': [II_RATES[4]],
        '_PT_rt4': [II_RATES[4]]
    }
}

In [40]:
reform_eliminate_bottom_5bracket = {
    2018: {
        '_CG_rt1': [CG_RATES[2]],
        '_AMT_CG_rt1': [CG_RATES[2]],
        '_II_rt1': [II_RATES[5]],
        '_PT_rt1': [II_RATES[5]],
        '_CG_rt2': [CG_RATES[2]],
        '_AMT_CG_rt2': [CG_RATES[2]],
        '_II_rt2': [II_RATES[5]],
        '_PT_rt2': [II_RATES[5]],
        '_II_rt3': [II_RATES[5]],
        '_PT_rt3': [II_RATES[5]],
        '_II_rt4': [II_RATES[5]],
        '_PT_rt4': [II_RATES[5]],
        '_II_rt5': [II_RATES[5]],
        '_PT_rt5': [II_RATES[5]]
    }
}

In [41]:
reform_eliminate_bottom_6bracket = {
    2018: {
        '_CG_rt1': [CG_RATES[2]],
        '_AMT_CG_rt1': [CG_RATES[2]],
        '_II_rt1': [II_RATES[6]],
        '_PT_rt1': [II_RATES[6]],
        '_CG_rt2': [CG_RATES[2]],
        '_AMT_CG_rt2': [CG_RATES[2]],
        '_II_rt2': [II_RATES[6]],
        '_PT_rt2': [II_RATES[6]],
        '_II_rt3': [II_RATES[6]],
        '_PT_rt3': [II_RATES[6]],
        '_II_rt4': [II_RATES[6]],
        '_PT_rt4': [II_RATES[6]],
        '_II_rt5': [II_RATES[6]],
        '_PT_rt5': [II_RATES[6]],
        '_II_rt6': [II_RATES[6]],
        '_PT_rt6': [II_RATES[6]]
    }
}

In [11]:
reform_no_medicaid_medicare = {
    2018: {
        "_BEN_mcaid_repeal": [True],
        "_BEN_mcare_repeal": [True]
    }
}

In [13]:
pol = tc.Policy()
pol.implement_reform(reform_no_medicaid_medicare)

In [14]:
base = tch.calc_df(records=tc.Records.cps_constructor(),
                   policy=pol,
                   year=2018,
                   group_vars=['XTOT', 'nu18', 'aftertax_income'],
                   metric_vars=['aftertax_income', 'XTOT', 'nu18'])

In [15]:
ubi = tch.calc_df(records=tc.Records.cps_constructor(),
                  policy=pol,
                  reform=reform_eliminate_bottom_bracket,
                  year=2018,
                  group_vars=['XTOT', 'nu18', 'aftertax_income'],
                  metric_vars=['aftertax_income', 'XTOT', 'nu18'])

In [22]:
ubi2 = tch.calc_df(records=tc.Records.cps_constructor(),
                   policy=pol,
                   reform=reform_eliminate_bottom_2bracket,
                   year=2018,
                   group_vars=['XTOT', 'nu18', 'aftertax_income'],
                   metric_vars=['aftertax_income', 'XTOT', 'nu18'])

In [26]:
ubi3 = tch.calc_df(records=tc.Records.cps_constructor(),
                   policy=pol,
                   reform=reform_eliminate_bottom_3bracket,
                   year=2018,
                   group_vars=['XTOT', 'nu18', 'aftertax_income'],
                   metric_vars=['aftertax_income', 'XTOT', 'nu18'])

In [29]:
ubi4 = tch.calc_df(records=tc.Records.cps_constructor(),
                   policy=pol,
                   reform=reform_eliminate_bottom_4bracket,
                   year=2018,
                   group_vars=['XTOT', 'nu18', 'aftertax_income'],
                   metric_vars=['aftertax_income', 'XTOT', 'nu18'])

In [42]:
ubi5 = tch.calc_df(records=tc.Records.cps_constructor(),
                   policy=pol,
                   reform=reform_eliminate_bottom_5bracket,
                   year=2018,
                   group_vars=['XTOT', 'nu18', 'aftertax_income'],
                   metric_vars=['aftertax_income', 'XTOT', 'nu18'])

In [43]:
ubi6 = tch.calc_df(records=tc.Records.cps_constructor(),
                   policy=pol,
                   reform=reform_eliminate_bottom_6bracket,
                   year=2018,
                   group_vars=['XTOT', 'nu18', 'aftertax_income'],
                   metric_vars=['aftertax_income', 'XTOT', 'nu18'])

In [16]:
base.aftertax_income_m.sum() / 1e3

10451.984854785078

In [17]:
ubi.aftertax_income_m.sum() / 1e3

10409.448299002657

In [23]:
ubi2.aftertax_income_m.sum() / 1e3

9940.437698470332

In [27]:
ubi3.aftertax_income_m.sum() / 1e3

9819.186626261906

In [30]:
ubi4.aftertax_income_m.sum() / 1e3

9281.660643789925

In [44]:
ubi5.aftertax_income_m.sum() / 1e3

9076.295573693627

In [45]:
ubi6.aftertax_income_m.sum() / 1e3

8935.862676622963

In [47]:
(base.aftertax_income_m.sum() - ubi6.aftertax_income_m.sum()) / base.XTOT_m.sum()

4530.97323429576

Zero out negative after-tax incomes.

In [8]:
df.aftertax_income.clip_lower(0, inplace=True)
df.aftertax_income_m.clip_lower(0, inplace=True)

Add after-tax income per person.

In [9]:
df['afti_pp'] = df.aftertax_income / df.XTOT