# Advanced Recipe: Directly Comparing Two Reforms
This is an advanced recipe that should be followed only after mastering the basic recipe. This recipe shows how to compare two reforms (instead of comparing a reform to current-law policy) and also shows how to use the reform files available on the Tax-Calculator website (instead of reform files on your computer's disk).

Specifically, we compare the House's TCJA with the conference committee version.

**Ingredients**

No ingredients required because we read reform files from the Tax-Calculator website.

### Imports.

In [1]:
from __future__ import print_function  # Necessary only if using Python 2.7.
from taxcalc import *
import urllib as url_lib  # On Python 3.6 use "import urllib.request as url_lib".

### Specify `Policy` object for static analysis of `reform1`.

In [2]:
reform1 = Calculator.read_json_param_objects('TCJA_Reconciliation.json', None)
policy1 = Policy()
policy1.implement_reform(reform1['policy'])
if policy1.reform_errors:
    print(policy1.reform_errors)
    exit(1)

### Specify `Policy` object for static analysis of `reform2`.

In [3]:
reform2 = Calculator.read_json_param_objects('TCJA_NoCharitable.json', None)
policy2 = Policy()
policy2.implement_reform(reform2['policy'])
if policy2.reform_errors:
    print(policy2.reform_errors)
    exit(1)

### Specify `Calculator` objects using `policy1` and `policy2` and calculate for 2018.

In [4]:
calc1 = Calculator(policy=policy1, records=Records.cps_constructor())
calc1.advance_to_year(2018)
calc1.calc_all()
calc2 = Calculator(policy=policy2, records=Records.cps_constructor())
calc2.advance_to_year(2018)
calc2.calc_all()

You loaded data for 2014.
Tax-Calculator startup automatically extrapolated your data to 2014.
You loaded data for 2014.
Tax-Calculator startup automatically extrapolated your data to 2014.

### Compare aggregate individual income tax revenue in 2018.

In [5]:
iitax_rev1 = calc1.weighted_total('iitax')
iitax_rev2 = calc2.weighted_total('iitax')

### Construct `reform2`-vs-`reform1` difference table with results for income deciles.

Start with printing the raw difference table, then a simplified version.

In [6]:
diff_table = calc1.difference_table(calc2, tax_to_diff='iitax')
diff_table

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

Exception ValueError: "Buffer dtype mismatch, expected 'Python object' but got 'long'" in 'pandas._libs.lib.is_bool_array' ignored

,count,tax_cut,perc_cut,tax_inc,perc_inc,mean,tot_change,share_of_change,perc_aftertax,pc_aftertaxinc
0,"16,989,416.58",0.00,0.00,500.80,0.00,0.00,"62,591.29",0.00,-0.00,0.00
1,"16,988,285.70",0.00,0.00,"5,207.10",0.03,0.01,"222,332.56",0.00,0.00,-0.00
2,"16,990,004.05",0.00,0.00,"133,144.85",0.78,1.41,"23,923,356.00",0.11,0.01,-0.01
3,"16,989,656.05",0.00,0.00,"332,876.29",1.96,5.39,"91,611,714.09",0.41,0.02,-0.02
4,"16,989,954.66",0.00,0.00,"615,923.46",3.63,13.49,"229,159,421.60",1.02,0.04,-0.04
5,"16,989,240.80",0.00,0.00,"960,374.81",5.65,29.21,"496,188,132.72",2.21,0.07,-0.07
6,"16,989,686.38",0.00,0.00,"1,536,497.48",9.04,76.15,"1,293,752,014.36",5.77,0.15,-0.15
7,"16,989,484.52",0.00,0.00,"2,781,233.05",16.37,128.86,"2,189,182,040.94",9.76,0.19,-0.19
8,"16,989,613.44",0.00,0.00,"5,451,774.32",32.09,308.49,"5,241,064,357.63",23.37,0.32,-0.32
9,"16,989,497.48",0.00,0.00,"7,132,252.57",41.98,757.16,"12,863,684,595.64",57.35,0.35,-0.35
10,"169,894,839.66",0.00,0.00,"18,949,784.73",11.15,132.02,"22,428,850,556.81",100.00,0.24,-0.24
11,"8,494,172.66",0.00,0.00,"3,318,480.06",39.07,552.80,"4,695,555,959.32",20.94,0.40,-0.40
12,"6,794,896.30",0.00,0.00,"2,972,824.34",43.75,829.85,"5,638,718,300.70",25.14,0.40,-0.40
13,"1,700,428.52",0.00,0.00,"840,948.17",49.46,"1,487.51","2,529,410,335.61",11.28,0.23,-0.23

In [8]:
-diff_table['pc_aftertaxinc']

0         -0.00
1          0.00
2          0.01
3          0.02
4          0.04
5          0.07
6          0.15
7          0.19
8          0.32
9          0.35
10         0.24
11         0.40
12         0.40
13         0.23
Name: pc_aftertaxinc, dtype: float64

### Print total revenue estimates for 2018.

*Estimates in billons of dollars rounded to nearest tenth of a billion.*

In [19]:
print('2018_REFORM1_iitax_rev($B)= {:.1f}'.format(iitax_rev1 * 1e-9))
print('2018_REFORM2_iitax_rev($B)= {:.1f}'.format(iitax_rev2 * 1e-9))

2018_REFORM1_iitax_rev($B)= 1138.4
2018_REFORM2_iitax_rev($B)= 1160.9

## Calculate Gini coefficient

In [13]:
calc1_dist, calc2_dist = calc1.distribution_tables(calc2)

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

Exception ValueError: "Buffer dtype mismatch, expected 'Python object' but got 'long'" in 'pandas._libs.lib.is_bool_array' ignored

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

Exception ValueError: "Buffer dtype mismatch, expected 'Python object' but got 'long'" in 'pandas._libs.lib.is_bool_array' ignored

In [17]:
calc1_dist.aftertax_income[9] / calc1_dist.aftertax_income[10]

0.38965756806225921

In [18]:
calc2_dist.aftertax_income[9] / calc2_dist.aftertax_income[10]

0.38921928950760326