# Effect of repealing Child Tax Credit with Child Dividend

This identifies beneficiaries of the Child Tax Credit by modeling its repeal. Both repeal from current (2017) state and TCJA state are considered on a static basis. Change to after-tax income by decile and share of after-tax income held by top 10% are calculated.

*Data: CPS  |  Tax year: 2018  |  Type: Static  |  Author: Max Ghenis  |  Date run: 2018-02-20*

## Setup

### Imports

In [2]:
import taxcalc as tc
import pandas as pd
import numpy as np
import copy
from bokeh.io import show, output_notebook
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import urllib as url_lib  # On Python 3.6 use "import urllib.request as url_lib".

In [3]:
tc.__version__

'0.16.1'

In [4]:
sns.set_style('white')
DPI = 300
mpl.rc('savefig', dpi=DPI)
mpl.rcParams['figure.dpi']= DPI

### Create policies

Load reforms from GitHub. Policies and reforms are named according to this convention:

**`{reform}_{year}_{object}`**

For example:

* `noctc_2017_policy`: Policy without CTC using 2017 law.
* `ubi_2018_calc`: Calculator replacing CTC with UBI using 2018 (current) law.

In [7]:
# Folders where reforms live.
GITHUB_BASE_URL = 'https://raw.githubusercontent.com/'

TAXCALC_GITHUB_BASE_URL = (GITHUB_BASE_URL +
                           'open-source-economics/Tax-Calculator/master/' +
                           'taxcalc/reforms/')

def read_url(url):
    return url_lib.urlopen(url).read()

def read_reform_taxcalc_github(reform_name):
    return read_url(TAXCALC_GITHUB_BASE_URL + reform_name + '.json')

def policy_from_reform(reform):
    pol = tc.Policy()
    pol.implement_reform(reform['policy'])
    if pol.reform_errors:
        print(pol.reform_errors)
    return pol

def create_static_policy_taxcalc_github(reform_name):
    reform = tc.Calculator.read_json_param_objects(
        read_reform_taxcalc_github(reform_name), None)
    return policy_from_reform(reform)

In [8]:
y2017_policy = create_static_policy_taxcalc_github(
    '2017_law')

In [10]:
noctc_reform = {
    2018: {
        '_CTC_c': [0],
        '_DependentCredit_Child_c': [0]
    }}
noctc_2017_policy = copy.deepcopy(y2017_policy)
noctc_pol_2017.implement_reform(noctc_reform)
noctc_pol_2018 = tc.Policy()  # Can't combine with next step.
noctc_pol_2018.implement_reform(noctc_reform)

### Specify `Calculator` objects for static analyses

In [11]:
recs = tc.Records.cps_constructor()

In [12]:
def static_baseline_calc(year):
    calc = tc.Calculator(records=recs, policy=tc.Policy())
    calc.advance_to_year(year)
    calc.calc_all()
    return calc

In [18]:
def weighted_sum(df, col):
    return (df[col] * df['s006']).sum()

In [55]:
def child_ubi_reform(amount):
    return {2018: {'_UBI_u18': [amount],
                   '_UBI_ecrt': [1.0]}}

In [193]:
np.where(False, 1, np.nan)

array(nan)

In [236]:
def add_weighted_quantiles(df, col):
    df.sort_values(by=col, inplace=True)
    col_pctile = col + '_percentile_exact'
    df[col_pctile] = 100 * df['s006'].cumsum() / df['s006'].sum()
    # "Null out" negatives using -1, since integer arrays can't be NaN.
    # TODO: Should these be null floats?
    df[col_pctile] = np.where(df[col] >= 0, df[col_pctile], 0)
    # Reduce top record, otherwise it's incorrectly rounded up.
    df[col_pctile] = np.where(df[col_pctile] >= 99.99999, 99.99999, df[col_pctile])
    df[col + '_percentile'] = np.ceil(df[col_pctile]).astype(int)
    df[col + '_decile'] = np.ceil(df[col_pctile] / 10).astype(int)
    df[col + '_quintile'] = np.ceil(df[col_pctile] / 20).astype(int)
    return df

In [237]:
def static_calc(use_2017_law=False, 
                ctc_treatment='keep',
                child_ubi_amount=0,
                year=2018,
                cols=['s006', 'aftertax_income', 'expanded_income', 'nu18', 'n24', 'XTOT']):
    """Creates static Calculator.

    Args:
        use_2017_law: Whether to use 2017 law vs. current law. Defaults to False.
        ctc_treatment: How the Child Tax Credit is treated. Options include:
            * 'keep': No change. Default.
            * 'repeal': End entirely.
            * 'rev_neutral_ubi': Replace with revenue-neutral child UBI.
            * 'no_cut_ubi': [NOT YET IMPLEMENTED] 
                Replace with a child UBI equal to the current maximum value.
        year: Year to advance calculations to.
        cols: Columns to extract per Calculator record. 
            Defaults to ['s006', 'expanded_income', 'aftertax_income', 'nu18', 'n24', 'XTOT'].
        
    Returns:
        DataFrame with `cols` and percentile, decile, and quintile of after-tax income.
    """
    # Initiate policy using either 2017 or current law.
    if use_2017_law:
        pol = copy.deepcopy(y2017_policy)
    else:
        pol = tc.Policy()
    # Enact reform based on ctc_treatment.
    # Repeal CTC unless it's kept.
    if ctc_treatment != 'keep':
        pol.implement_reform(noctc_reform)
    if child_ubi_amount > 0:
        pol.implement_reform(child_ubi_reform(child_ubi_amount))
    # Calculate. This is needed to calculate the revenue-neutral UBI.
    calc = tc.Calculator(records=recs, policy=pol)
    calc.advance_to_year(year)
    calc.calc_all()
    # TODO: Calculate revenue for revenue-neutral UBI.
    # Create DataFrame and add identifiers.
    df = calc.dataframe(cols)
    # Add percentiles.
    df = add_weighted_quantiles(df, 'expanded_income')
    df = add_weighted_quantiles(df, 'aftertax_income')
    # Add identifiers.
    df['use_2017_law'] = use_2017_law
    df['ctc_treatment'] = ctc_treatment
    # What's the column for the ID?
    df['id'] = df.index
    return df

In [238]:
scenarios_pre_ubi = pd.concat([
    static_calc(use_2017_law=False, ctc_treatment='keep'),
    static_calc(use_2017_law=False, ctc_treatment='repeal'),
    static_calc(use_2017_law=True, ctc_treatment='keep'),
    static_calc(use_2017_law=True, ctc_treatment='repeal')])

You loaded data for 2014.
Tax-Calculator startup automatically extrapolated your data to 2014.
You loaded data for 2014.
Tax-Calculator startup automatically extrapolated your data to 2014.
You loaded data for 2014.
Tax-Calculator startup automatically extrapolated your data to 2014.
You loaded data for 2014.
Tax-Calculator startup automatically extrapolated your data to 2014.

In [242]:
scenarios_pre_ubi.head()

,s006,aftertax_income,expanded_income,nu18,n24,XTOT,expanded_income_percentile_exact,expanded_income_percentile,expanded_income_decile,expanded_income_quintile,aftertax_income_percentile_exact,aftertax_income_percentile,aftertax_income_decile,aftertax_income_quintile,use_2017_law,ctc_treatment,id
37355,60.49,-3.555567e+06,-3.542510e+06,0.0,0.0,2.0,0.0,0,0,0,0.0,0,0,0,False,keep,37355
394742,499.17,-9.314900e+05,-9.311799e+05,1.0,1.0,3.0,0.0,0,0,0,0.0,0,0,0,False,keep,394742
29539,1209.73,-8.047257e+05,-8.047257e+05,0.0,0.0,2.0,0.0,0,0,0,0.0,0,0,0,False,keep,29539
276823,476.72,-7.817199e+05,-7.817199e+05,0.0,0.0,2.0,0.0,0,0,0,0.0,0,0,0,False,keep,276823
306673,399.35,-7.776941e+05,-7.753810e+05,0.0,0.0,2.0,0.0,0,0,0,0.0,0,0,0,False,keep,306673

Calculate child allowance.

In [243]:
aftertax_income_summary = (
    scenarios_pre_ubi.groupby(['use_2017_law', 'ctc_treatment'], as_index=False).
    apply(lambda x: 
          pd.Series({
              'aftertax_income': weighted_sum(x, 'aftertax_income'), 
              'nu18': weighted_sum(x, 'nu18')}))).reset_index()
nu18_total = aftertax_income_summary['nu18'][0]

In [244]:
aftertax_income_chg = aftertax_income_summary.pivot(
    index='use_2017_law',
    columns='ctc_treatment',
    values='aftertax_income'
)
aftertax_income_chg['chg'] = aftertax_income_chg['keep'] - aftertax_income_chg['repeal']
aftertax_income_chg['child_ubi'] = aftertax_income_chg['chg'] / nu18_total
aftertax_income_chg

ctc_treatment          keep        repeal           chg    child_ubi
use_2017_law
False          1.095007e+13  1.082995e+13  1.201240e+11  1464.524234
True           1.081362e+13  1.076178e+13  5.184284e+10   632.056117

In [245]:
scenarios = pd.concat([
    scenarios_pre_ubi,
    static_calc(use_2017_law=False, ctc_treatment='rev_neutral_ubi',
                child_ubi_amount=aftertax_income_chg.loc[False, 'child_ubi']),
    static_calc(use_2017_law=True, ctc_treatment='rev_neutral_ubi',
                child_ubi_amount=aftertax_income_chg.loc[True, 'child_ubi'])
])

You loaded data for 2014.
Tax-Calculator startup automatically extrapolated your data to 2014.
You loaded data for 2014.
Tax-Calculator startup automatically extrapolated your data to 2014.

## Analysis

* Add percentile to previous steps.
* Should there be a field for more "gross" income? Without benefits and UBI.

### Differences between `nu18` and `n24`

In [246]:
keep_cur = scenarios[(~scenarios['use_2017_law']) & 
                     (scenarios['ctc_treatment'] == 'keep')]
print ('Total children under 18: ' +
       '{:0.1f}M'.format((keep_cur['nu18'] * keep_cur['s006']).sum() / 1e6))
print ('Total children eligible for CTC: ' +
       '{:0.1f}M'.format((keep_cur['n24'] * keep_cur['s006']).sum() / 1e6))

Total children under 18: 82.0M
Total children eligible for CTC: 81.9M

How many households have nu18 > n24? n24 > nu18?

In [247]:
keep_cur.pivot_table(index='n24', columns='nu18', values='s006', aggfunc=sum)

nu18,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0
n24,,,,,,,,,,,,,
0.0,1.149045e+08,5.766988e+06,547510.00,211161.64,69313.39,18471.38,5404.80,2750.33,50.61,3008.35,NaN,NaN,NaN
1.0,4.757063e+06,1.655386e+07,1788753.63,87158.45,16146.37,3154.00,218.94,NaN,NaN,NaN,NaN,NaN,NaN
2.0,2.244122e+06,8.548261e+05,12673415.39,928240.83,47172.02,7316.58,1759.92,486.02,NaN,NaN,NaN,NaN,NaN
3.0,1.029664e+06,4.764278e+05,28834.94,4614543.24,1584990.14,459044.89,135175.92,47639.99,15654.63,5527.24,4263.23,118.96,147.68

In [248]:
keep_cur[keep_cur['nu18'] > keep_cur['n24']]['s006'].sum() / 1e6

11.757627969999998

In [249]:
keep_cur[keep_cur['n24'] > keep_cur['nu18']]['s006'].sum() / 1e6

9.3909378300000004

### Distributional impact

In [272]:
scenario_pivot = scenarios.pivot_table(values=['expanded_income', 'aftertax_income'],
                                       index=['id', 'use_2017_law', 's006'],
                                       columns='ctc_treatment').reset_index()
# Adapted from https://stackoverflow.com/q/42099024/1840471.
scenario_pivot.columns = ["_".join((j, i)) for i, j in scenario_pivot.columns]
scenario_pivot.columns = scenario_pivot.columns.str.lstrip('_')

In [273]:
scenario_pivot['afti_chg_ctc'] = (
    (scenario_pivot['repeal_aftertax_income'] - scenario_pivot['keep_aftertax_income']) / 
    scenario_pivot['keep_aftertax_income'])
scenario_pivot['afti_chg_ubi'] = (
    (scenario_pivot['rev_neutral_ubi_aftertax_income'] - scenario_pivot['keep_aftertax_income']) / 
    scenario_pivot['keep_aftertax_income'])
scenario18 = scenario_pivot[~scenario_pivot['use_2017_law']].drop(columns='use_2017_law')

In [274]:
scenario18[(scenario18['rev_neutral_ubi_aftertax_income'] >= 0) &
           (scenario18['keep_aftertax_income'] >= 0) &
           (scenario18['afti_chg_ubi'] < np.inf)].sort_values('afti_chg_ubi').tail()

,id,s006,keep_aftertax_income,repeal_aftertax_income,rev_neutral_ubi_aftertax_income,keep_expanded_income,repeal_expanded_income,rev_neutral_ubi_expanded_income,afti_chg_ctc,afti_chg_ubi
321318,160659,824.31,1.739164,1.739164,2930.787633,1.739164,1.739164,2930.787633,0.0,1684.170422
318758,159379,457.08,1.739164,1.739164,2930.787633,1.739164,1.739164,2930.787633,0.0,1684.170422
413628,206814,1007.05,1.549691,1.549691,4395.122394,1.549691,1.549691,4395.122394,0.0,2835.128587
258024,129012,203.45,1.541713,1.541713,4395.114416,1.541713,1.541713,4395.114416,0.0,2849.799369
450262,225131,355.67,1.363286,1.363286,4394.935990,1.363286,1.363286,4394.935990,0.0,3222.781213

Merge to baseline after-tax income quantiles.

In [275]:
scenarios.columns

Index([u's006', u'aftertax_income', u'expanded_income', u'nu18', u'n24',
       u'XTOT', u'expanded_income_percentile_exact',
       u'expanded_income_percentile', u'expanded_income_decile',
       u'expanded_income_quintile', u'aftertax_income_percentile_exact',
       u'aftertax_income_percentile', u'aftertax_income_decile',
       u'aftertax_income_quintile', u'use_2017_law', u'ctc_treatment', u'id'],
      dtype='object')

In [276]:
base_aftiq18 = scenarios.loc[(~scenarios['use_2017_law']) & (scenarios['ctc_treatment'] == 'keep'),
                             ['id', 'aftertax_income_percentile', 'aftertax_income_decile',
                              'aftertax_income_quintile', 'nu18', 'n24']]

In [277]:
scenario18 = pd.merge(scenario18, base_aftiq18, on='id')

In [278]:
scenario18

,id,s006,keep_aftertax_income,repeal_aftertax_income,rev_neutral_ubi_aftertax_income,keep_expanded_income,repeal_expanded_income,rev_neutral_ubi_expanded_income,afti_chg_ctc,afti_chg_ubi,aftertax_income_percentile,aftertax_income_decile,aftertax_income_quintile,nu18,n24
0,0,239.46,42287.547869,42287.547869,42287.547869,5.228020e+04,5.228020e+04,5.228020e+04,0.000000,0.000000,48,5,3,0.0,0.0
1,1,202.59,20461.070670,19061.070670,21990.119139,1.817644e+04,1.817644e+04,2.110549e+04,-0.068423,0.074730,20,2,1,2.0,1.0
2,2,255.35,96222.033747,96222.033747,96222.033747,9.622203e+04,9.622203e+04,9.622203e+04,0.000000,0.000000,82,9,5,0.0,0.0
3,3,178.36,26597.379609,24675.543286,26140.067520,2.600267e+04,2.600267e+04,2.746719e+04,-0.072257,-0.017194,28,3,2,1.0,1.0
4,4,270.80,41631.335096,41631.335096,41631.335096,4.163134e+04,4.163134e+04,4.163134e+04,0.000000,0.000000,47,5,3,0.0,0.0
5,5,336.88,119696.460564,119696.460564,119696.460564,1.249209e+05,1.249209e+05,1.249209e+05,0.000000,0.000000,88,9,5,0.0,0.0
6,6,272.69,94898.750753,94898.750753,94898.750753,1.230313e+05,1.230313e+05,1.230313e+05,0.000000,0.000000,81,9,5,0.0,0.0
7,7,268.31,28919.496097,28919.496097,28919.496097,3.368182e+04,3.368182e+04,3.368182e+04,0.000000,0.000000,31,4,2,0.0,0.0
8,8,291.63,66357.259177,66357.259177,66357.259177,8.204164e+04,8.204164e+04,8.204164e+04,0.000000,0.000000,68,7,4,0.0,0.0
9,9,181.92,103570.987297,97570.987297,101964.560001,1.087526e+05,1.087526e+05,1.131462e+05,-0.057931,-0.015510,84,9,5,3.0,3.0
10,10,144.11,9215.500365,9215.500365,12144.548834,1.022425e+04,1.022425e+04,1.315329e+04,0.000000,0.317839,8,1,1,2.0,0.0
11,11,149.18,30790.777663,30790.777663,30790.777663,3.781243e+04,3.781243e+04,3.781243e+04,0.000000,0.000000,34,4,2,0.0,0.0
12,12,149.18,30496.322440,30496.322440,31960.846675,3.057705e+04,3.057705e+04,3.204158e+04,0.000000,0.048023,34,4,2,1.0,0.0
13,13,149.18,27068.437771,27068.437771,27068.437771,3.408082e+04,3.408082e+04,3.408082e+04,0.000000,0.000000,29,3,2,0.0,0.0
14,14,161.47,132394.603119,130394.603119,131859.127353,1.774430e+05,1.774430e+05,1.789075e+05,-0.015106,-0.004045,91,10,5,1.0,1.0
15,15,291.63,99116.272084,99116.272084,99116.272084,1.310117e+05,1.310117e+05,1.310117e+05,0.000000,0.000000,83,9,5,0.0,0.0
16,16,298.73,38809.843228,38809.843228,38809.843228,3.880984e+04,3.880984e+04,3.880984e+04,0.000000,0.000000,44,5,3,0.0,0.0
17,17,161.71,66020.044054,62020.044054,64949.092523,7.858358e+04,7.858358e+04,8.151263e+04,-0.060588,-0.016222,67,7,4,2.0,2.0
18,18,332.43,120741.363655,120741.363655,120741.363655,1.545431e+05,1.545431e+05,1.545431e+05,0.000000,0.000000,89,9,5,0.0,0.0
19,19,265.79,28510.882435,28510.882435,28510.882435,2.851088e+04,2.851088e+04,2.851088e+04,0.000000,0.000000,31,4,2,0.0,0.0
20,20,297.20,173354.258648,173354.258648,173354.258648,1.765835e+05,1.765835e+05,1.765835e+05,0.000000,0.000000,95,10,5,0.0,0.0
21,21,270.12,27035.261838,27035.261838,27035.261838,2.703526e+04,2.703526e+04,2.703526e+04,0.000000,0.000000,29,3,2,0.0,0.0
22,22,313.72,40657.276001,40657.276001,40657.276001,5.225726e+04,5.225726e+04,5.225726e+04,0.000000,0.000000,46,5,3,0.0,0.0
23,23,372.45,52219.705643,52219.705643,52219.705643,5.221971e+04,5.221971e+04,5.221971e+04,0.000000,0.000000,57,6,3,0.0,0.0
24,24,408.03,65328.916360,65328.916360,65328.916360,7.588935e+04,7.588935e+04,7.588935e+04,0.000000,0.000000,67,7,4,0.0,0.0
25,25,409.78,30780.694058,30780.694058,30780.694058,3.708981e+04,3.708981e+04,3.708981e+04,0.000000,0.000000,34,4,2,0.0,0.0
26,26,409.78,18580.744040,18580.744040,18580.744040,2.272055e+04,2.272055e+04,2.272055e+04,0.000000,0.000000,17,2,1,0.0,0.0
27,27,460.81,30565.684648,30565.684648,30565.684648,3.390488e+04,3.390488e+04,3.390488e+04,0.000000,0.000000,34,4,2,0.0,0.0
28,28,460.81,25953.628163,25953.628163,25953.628163,2.595363e+04,2.595363e+04,2.595363e+04,0.000000,0.000000,27,3,2,0.0,0.0
29,29,464.50,174199.785908,174199.785908,174199.785908,1.741998e+05,1.741998e+05,1.741998e+05,0.000000,0.000000,96,10,5,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456435,456435,8.29,244599.693386,244599.693386,244599.693386,3.649990e+05,3.649990e+05,3.649990e+05,0.000000,0.000000,99,10,5,0.0,0.0
456436,456436,8.29,251865.278586,251865.278586,251865.278586,3.729397e+05,3.729397e+05,3.729397e+05,0.000000,0.000000,99,10,5,0.0,0.0
456437,456437,8.29,115896.391913,115896.391913,115896.391913,1.624713e+05,1.624713e+05,1.624713e+05,0.000000,0.000000,88,9,5,0.0,0.0
456438,456438,8.29,368509.061207,368509.061207,368509.061207,5.654240e+05,5.654240e+05,5.654240e+05,0.000000,0.000000,100,10,5,0.0,0.0
456439,456439,8.29,61923.067206,61923.067206,61923.067206,8.387722e+04,8.387722e+04,8.387722e+04,0.000000,0.000000,65,7,4,0.0,0.0
456440,456440,8.29,81875.964489,81875.964489,81875.964489,1.105188e+05,1.105188e+05,1.105188e+05,0.000000,0.000000,76,8,4,0.0,0.0
456441,456441,8.29,61098.323081,61098.323081,61098.323081,7.980165e+04,7.980165e+04,7.980165e+04,0.000000,0.000000,64,7,4,0.0,0.0
456442,456442,8.29,29615.215271,29615.215271,29615.215271,3.685480e+04,3.685480e+04,3.685480e+04,0.000000,0.000000,32,4,2,0.0,0.0
456443,456443,8.29,91637.785846,91637.785846,91637.785846,1.301216e+05,1.301216e+05,1.301216e+05,0.000000,0.000000,80,8,4,0.0,0.0
456444,456444,8.29,734467.076427,734467.076427,734467.076427,1.171279e+06,1.171279e+06,1.171279e+06,0.000000,0.000000,100,10,5,0.0,0.0
456445,456445,124.40,29502.082423,29502.082423,29502.082423,3.731677e+04,3.731677e+04,3.731677e+04,0.000000,0.000000,32,4,2,0.0,0.0
456446,456446,124.40,20218.660588,20218.660588,20218.660588,2.489007e+04,2.489007e+04,2.489007e+04,0.000000,0.000000,19,2,1,0.0,0.0
456447,456447,129.72,49785.263888,49785.263888,49785.263888,5.282339e+04,5.282339e+04,5.282339e+04,0.000000,0.000000,55,6,3,0.0,0.0
456448,456448,102.35,9998.128881,9998.128881,9998.128881,9.998129e+03,9.998129e+03,9.998129e+03,0.000000,0.000000,9,1,1,0.0,0.0
456449,456449,85.49,20504.090668,20504.090668,20504.090668,2.338631e+04,2.338631e+04,2.338631e+04,0.000000,0.000000,20,2,1,0.0,0.0
456450,456450,114.49,3326.132095,3326.132095,3326.132095,3.326132e+03,3.326132e+03,3.326132e+03,0.000000,0.000000,4,1,1,0.0,0.0
456451,456451,70.48,66788.201463,66788.201463,66788.201463,6.699980e+04,6.699980e+04,6.699980e+04,0.000000,0.000000,68,7,4,0.0,0.0
456452,456452,124.75,15083.806596,15083.806596,15083.806596,1.572954e+04,1.572954e+04,1.572954e+04,0.000000,0.000000,13,2,1,0.0,0.0
456453,456453,83.97,5616.091403,5616.091403,5616.091403,5.616091e+03,5.616091e+03,5.616091e+03,0.000000,0.000000,6,1,1,0.0,0.0
456454,456454,83.97,23801.765344,23801.765344,23801.765344,2.380177e+04,2.380177e+04,2.380177e+04,0.000000,0.000000,24,3,2,0.0,0.0
456455,456455,93.99,16949.506957,16949.506957,16949.506957,1.842357e+04,1.842357e+04,1.842357e+04,0.000000,0.000000,15,2,1,0.0,0.0
456456,456456,109.98,71852.367590,69852.367590,71316.891825,9.005736e+04,9.005736e+04,9.152188e+04,-0.027835,-0.007452,71,8,4,1.0,1.0
456457,456457,109.98,43450.588394,41450.588394,41450.588394,5.334950e+04,5.334950e+04,5.334950e+04,-0.046029,-0.046029,49,5,3,0.0,1.0
456458,456458,109.98,73829.618267,71829.618267,73294.142502,9.954479e+04,9.954479e+04,1.010093e+05,-0.027089,-0.007253,72,8,4,1.0,1.0
456459,456459,109.98,77960.804837,75960.804837,75960.804837,1.058929e+05,1.058929e+05,1.058929e+05,-0.025654,-0.025654,74,8,4,0.0,1.0
456460,456460,100.97,128177.526420,126177.526420,127642.050655,1.699740e+05,1.699740e+05,1.714385e+05,-0.015603,-0.004178,90,9,5,1.0,1.0
456461,456461,117.77,59402.287008,59402.287008,59402.287008,8.064460e+04,8.064460e+04,8.064460e+04,0.000000,0.000000,63,7,4,0.0,0.0
456462,456462,117.77,63456.270624,63456.270624,63456.270624,8.684803e+04,8.684803e+04,8.684803e+04,0.000000,0.000000,66,7,4,0.0,0.0
456463,456463,100.21,134484.654326,132484.654326,133949.178560,1.798995e+05,1.798995e+05,1.813640e+05,-0.014872,-0.003982,91,10,5,1.0,1.0
456464,456464,117.77,124858.557633,122858.557633,124323.081867,1.674926e+05,1.674926e+05,1.689571e+05,-0.016018,-0.004289,89,9,5,1.0,1.0